.main-auth {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    &__heading {
        text-align: center;
    }


    &__bg-image {
        display: flex;
        position: relative;
        > img {
            // flex: 1;
            object-fit: cover;
            margin: auto;
        }
    }

    &__form-block {
        padding: 30px;
        border: 1px solid var(--gray-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__form-section {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__form {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        > input {
            min-width: 300px;
            background-color: var(--gray-color);
            border-radius: var(--border-radius);
            padding: 10px;
        }
    }
}